* {
    line-height: 1.5;
    font-family: "Courier New", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background:rgb(152, 143, 143);
}

.content {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 125px 0 150px 0;
    gap: 20px;
}

.title {
    text-align: center;
    font-size: 50px;
}

.choicebtns {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 3% 0 1% 0;
}

.choicebtns button {
    min-width: 200px;
    min-height: 200px;
    font-size: 60px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}

.results {
    font-size: 40px;
    padding: 5px;;
}

.gamectrl {
    display:flex;
    justify-content: center;
    gap: 40px;
}

.gamectrl button {
    font-size: 40px;
    min-height: 100px;
    min-width: 300px;
}

.score {
    font-size: 20px;
    margin-bottom: 20px;
}

.start {
    background: rgb(145, 190, 78);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    color: white;
}

.reset {
    background: red;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    color: white;
}

