* {
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 125px 0 150px 0;
}

.title {
    text-align: center;
    font-size: 50px;
}

.choicebtns {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 1% 0 1% 0;
}

.choicebtns button {
    min-width: 200px;
    min-height: 200px;
    font-size: 60px;
}

.results {
    font-size: 40px;
    padding: 5px;
    margin-bottom: 1%;
}

.gamectrl {
    display:flex;
    justify-content: center;
    gap: 40px;
}

.gamectrl button {
    font-size: 40px;
    min-height: 100px;
    min-width: 300px;
}

